footer {
  background-color: #04020d;
  color: #fff;
  /* padding: 20px 0; */
  text-align: center;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 32px;
}


.footer-section h5 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.social-media {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Display icons below each other */
  align-items: center;
}

.social-media a {
  display: inline-block;
  margin-bottom: 20px; /* Adjust spacing between icons */
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: rgb(212, 212, 212);
}

/* @media screen and (width: 280px) and (height: 653px) {
  footer {
    margin-top: 4300px;
  }
}

@media screen and (width: 412px) and (height: 915px) {
  footer {
    margin-top: 1300px;
  }
}

@media screen and (width: 412px) and (height: 914px) {
  footer {
    margin-top: 600px;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  footer {
    margin-top: 1200px;
  }
}

@media screen and (width: 280px) and (height: 653px) {
  footer {
    margin-top: 800px;
  }
}

@media screen and (width: 414px) and (height: 896px) {
  footer {
    margin-top: 610px;
  }
}

@media screen and (width: 430px) and (height: 932px) {
  footer {
    margin-top: 610px;
  }
}

@media screen and (width: 540px) and (height: 720px) {
  footer {
    margin-top: 610px;
  }
}

@media screen and (width: 390px) and (height: 844px) {
  footer {
    margin-top: 610px;
  }
}

@media screen and (width: 360px) and (height: 740px) {
  footer {
    margin-top: 750px;
  }
}

@media screen and (width: 412px) and (height: 915px) {
  footer {
    margin-top: 600px;
  }
}

@media screen and (width: 375px) and (height: 667px) {
  footer {
    margin-top: 850px;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  footer {
    margin-top: 500px;
  }
}

@media screen and (width: 1280px) and (height: 800px) {
  footer {
    margin-top: 500px;
  }
} */

/* @media screen and (width: 768px) and (height: 1024px) {
  footer {
    margin-top: 800px;
  }
}

@media screen and (width: 820px) and (height: 1180px) {
  footer {
    margin-top: 600px;
  }
}

@media screen and (width: 912px) and (height: 1368px) {
  footer {
    margin-top: 400px;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  footer {
    margin-top: 1200px;
  }
}

@media screen and (width: 1280px) and (height: 800px) {
  footer {
    margin-top: 400px;
  }
} */
