<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>
                                <h6>{{i+1}}</h6>
                            </td>
                            <td style="width: 25%;">
                                <h6>{{item.title}}</h6>
                            </td>
                            <td><img style="width: 100px; height:100px;" src="{{item.image}}" alt="">
                            </td>
                            <td style="width: 35%;">{{ item.description.split(' ').slice(0, 15).join(' ') }}...</td>

                            <th style="width: 18%;">
                                <h6>{{item.price}}</h6>
                            </th>
                            <td style="width: 18%;">
                                <h6>{{item.quantity}}</h6>
                            </td>
                            <td style="width: 12%;">
                                <h6>{{item.quantity * item.price}}</h6>
                            </td>
                            <td>
                                <h6>
                                    <button (click)="removeItem(item)" class="btn btn-danger pi pi-trash"> </button>
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-dark">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Total : ${{grandTotal | number : '1.2-2'}}</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</ng-container>



<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <!-- <h5 class="card-title"> My Cart</h5> -->
        </div>
        <div class="center">
            <!-- <img src="./assets/images/cart.jpg" alt=""> -->
            <p class="cart">YOUR CART IS EMPTY...</p>
            <h5>Add item to it now!</h5>
            <button routerLink="/products" class="cart-button">Shop Now</button>
        </div>
    </div>
</ng-container>