<ng-container *ngIf="true">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Iphone</td>
                            <td>Some Image</td>
                            <td>This is branded phone</td>
                            <td>50000</td>
                            <td>1</td>
                            <td>50000</td>
                            <td>
                                <button class="btn btn-danger pi pi-trash"> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</ng-container>





<ng-container *ngIf="false">
    <div class="container">
        <div class="card">
            <h5 class="card-title"> My Cart</h5>
        </div>
        <div class="center">
            <img src="./assets/images/cart.jpg" alt="">
            <h4>Your Cart is empty</h4>
            <h6>Add item to it now</h6>
            <button class="btn btn-primary"> Shop Now</button>
        </div>
    </div>
</ng-container>