.user-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #04020d;
  color: #fff;
  font-family: Arial, sans-serif;
}

.contact-us {
  width: 100%;
  font-style: italic;
  text-align: center;
  max-width: 1200px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #04020d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}

.contact-us h3 {
  color: white;
  font-weight: bold;
}

.contact-us p {
  line-height: 1.6;
  color: white;
}

.map-container {
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: 250px;
  border: none;
}

.contact-details {
  border-left: 1px solid #ccc;
  padding-left: 30px;
  color: white;
  background-color: #04020d;
}

.contact-details h5 {
  color: white;
  margin-top: 0;
  font-weight: bold;
}

.contact-details address {
  font-style: normal;
}

.contact-details p {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .contact-us {
    padding-top: 180px;

  }
 
}
