.user-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact-us {
  width: 1200px; /* Adjust the width as needed */
  padding: 50px;
  padding-top: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-auth {
  /* Set the background image URL */
  background-color:  #042036;
  background-size: cover; /* Ensures the background image covers the entire element */
  width: 100%; /* Full width */
  height: 100vh; /* Full height by default */
}

/* Rest of the styles remain the same */
