.user-auth {
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwallpapers.com%2Fimages%2Fhd%2F2440x1440-office-background-2440-x-1440-82eeic10fd5b1qb6.jpg");
  background-size: cover;
}

.contact-us {
  width: 100%;
  font-style: italic;
  text-align: center;
  max-width: 1200px;
  padding: 60px;
}

.contact-us h3 {
  color: black;
  font-weight: bold;
}

.contact-us p {
  line-height: 1.6;
  color: black;
}

.map-container {
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: 250px;
  border: none;
}

.contact-details {
  border-left: 1px solid #ccc;
  padding-left: 30px;
  color: black;
  // background-color: white;
}

.contact-details h5 {
  color: black;
  margin-top: 0;
  font-weight: bold;
}

.contact-details address {
  font-style: normal;
}

.contact-details p {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .contact-us {
    padding-top: 180px;
    background-color: #e7e6e3;
  }
}
