:host ::ng-deep .p-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

:host ::ng-deep .custom-carousel .p-carousel-item img.carousel-image {
  width: 100%;
  height: auto;
  max-height: 270px;
}

:host
  ::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background-color: #52515c;
}

.about-us {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  max-width: 500px;
  font-style: italic;
  text-align: center;
  font-size: 1.1em;
}

.carousel-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
}

.boxes-container {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.icon {
  margin-right: 10px;
  margin-top: 20px;
}

.icon i {
  font-size: 18px;
}

.box {
  background-image: url("https://t4.ftcdn.net/jpg/02/52/19/57/360_F_252195727_B4KoBbO3bNkU6JO3mmTyF57sAUilqgRs.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  flex: 1 1 300px;
  max-width: 400px;
  height: 140px;
}

.box p {
  font-size: 1em;
  line-height: 1.6em;
  color: white;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

/* Adjustments for screens up to 768px */
@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }

  .box {
    width: 80%;
    margin: 10px;
  }

  .box p {
    font-size: 14px;
  }

  .carousel-item {
    width: 100%;
    text-align: center;
  }

  /* Adjust overlay text for smaller screens */
  :host ::ng-deep .custom-carousel .p-carousel-item .overlay-text {
    font-size: 10px;
    bottom: 0;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  }

  :host ::ng-deep .p-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

/* Media query for screens with width 280px and height 653px */
@media screen and (max-width: 280px) and (max-height: 653px) {
  /* Adjust overlay text for smaller screens */
  :host ::ng-deep .custom-carousel .p-carousel-item .overlay-text {
    font-size: 6px;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Media query for screens between 912px and 1368px */
@media screen and (min-width: 912px) and (max-width: 1368px) {
  :host ::ng-deep .custom-carousel .p-carousel-item .overlay-text {
    font-size: 12px;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Media query for screens between 820px and 1180px */
@media screen and (min-width: 820px) and (max-width: 1180px) {
  :host ::ng-deep .custom-carousel .p-carousel-item .overlay-text {
    font-size: 12px;
    bottom: 0;
    position: absolute;
    top: 20%;
    transform: translateX(-50%);
  }
}
