/* Flexbox styles for centering */
:host ::ng-deep .p-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 70%;
  margin: 0 auto;
}

:host ::ng-deep .custom-carousel .p-carousel-item img.carousel-image {
  width: 70%;
  height: 300px;
}

:host
  ::ng-deep
  .p-carousel
  .p-carousel-indicators
  .p-carousel-indicator.p-highlight
  button {
  background-color: #52515c;
}

.about-us {
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(226, 228, 208);
  padding: 10px;
  max-width: 500px;
  font-style: italic;
  text-align: center;
  font-size: 1.2em;
}

/* Media query for tablets */
@media screen and (max-width: 768px) {
  .overlay-text {
    top: 35%;
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .overlay-text {
    top: 40%;
    font-size: 0.8em;
  }
}

.carousel-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
}

.boxes-container {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.icon {
  margin-right: 10px;
}

.icon i {
  font-size: 18px;
}

.box {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/007/169/428/small/modern-dark-blue-background-with-golden-lines-element-vector.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  color: white;
  flex: 1 1 300px;
  max-width: 400px;
  height: 150px;
}

.box p {
  font-size: 1em;
  line-height: 1.6em;
  color: white;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .boxes-container {
    max-width: 90%;
  }

  .box {
    flex: 1 1 200px;
  }

  .box:hover .hover-image {
    display: block;
  }


}
