/* Navbar Style */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: #04020d;
  padding: 30px 0px 10px 0px;
  border-top: 4px solid grey;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 102;
}

.my-navbar,
.left-side-nav,
.right-side-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
}

.my-navbar {
  padding-left: 15px;
}

.left-side-nav {
  justify-content: start;
  vertical-align: bottom;
}

.right-side-nav {
  justify-content: end;
}

.title-wrapper {
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin-right: 20px;
  margin-bottom: 5px;
}

button {
  color: #fff;
  background-color: black;
  border: none !important;
}

.nofocus:focus {
  outline: none;
}

.pi-search:before {
  color: white;
  font-weight: 800;
  margin-left: 30px;
}

.pi-shopping-cart {
  font-size: 35px;
}

.pi-amazon:before {
  color: white;
  font-size: 45px;
}

i.pi.pi-amazon {
  margin-bottom: 10px;
  font-size: 40px;
}

.form-control {
  border-radius: 10px;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 15px;
}

.bg-danger {
  font-size: 10px;
  position: fixed;
}

a {
  color: white;
  text-decoration: none;
}

.profile-info a {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.user-info a {
  padding-right: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.user-info a:hover {
  color: rgb(212, 212, 212);
}

.right-side-nav .profile-info {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.right-side-nav .user-info {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.pi-shopping-cart:before {
  padding-left: 20px;
}

.pi-user:before {
  color: white;
  font-size: 25px;
  padding-left: 20px;
}

/* Assuming .nofocus class removes the default button styles */

/* Styles for the shopping cart button */
button.nofocus {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .my-navbar,
  .left-side-nav,
  .right-side-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }

  .header {
    padding: 10px;
  }

  .title-wrapper {
    font-size: 20px;
    margin-right: 0;
  }

  .pi-search:before {
    display: none;
  }

  .pi-amazon:before {
    font-size: 30px;
  }

  .form-control {
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 10px;
  }

  .right-side-nav .profile-info {
    font-size: 14px;
  }

  .right-side-nav .user-info {
    font-size: 10px;
  }

  .user-info a {
    padding-bottom: 10px;
  }

  .pi-shopping-cart {
    font-size: 25px;
    padding-bottom: 10px;
  }

  .pi-user:before {
    font-size: 20px;
  }
}

/* Media query for screens with max-width: 280px and max-height: 653px */
@media screen and (max-width: 280px) and (max-height: 653px) {
  .my-navbar,
  .left-side-nav,
  .right-side-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0;
  }

  .title-wrapper {
    font-size: 16px;
    margin-right: 0;
  }

  .pi-search:before {
    display: none;
  }

  .pi-amazon:before {
    font-size: 25px;
  }

  .form-control {
    height: 25px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 8px;
  }

  .right-side-nav .profile-info {
    font-size: 10px;
  }

  .right-side-nav .user-info {
    font-size: 8px;
  }

  .user-info a {
    padding-bottom: 5px;
  }

  .pi-shopping-cart:before {
    font-size: 18px;
    padding-bottom: 5px;
    padding-left: 0px;
  }

  .pi-user:before {
    font-size: 16px;
  }

  .pi-sign-out:before {
    font-size: 12px;
  }

  .user-info a {
    padding-right: 10px;
  }
}
