/* Navbar Style */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  background-color: #04020d;
  padding: 40px 0px 10px 0px;
  border-top: 4px solid grey;
  position: fixed;
  top: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 102;
}

.my-navbar,
.left-side-nav,
.right-side-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20px;
}

.my-navbar {
  padding-left: 15px;
}

.left-side-nav {
  justify-content: start;
  vertical-align: bottom;
}

.right-side-nav {
  justify-content: end;
}

.title-wrapper {
  color: white;
  font-weight: 600;
  font-size: 25px;
  margin-right: 20px;
  margin-bottom: 5px;
}

button {
  color: #fff;
  background-color: black;
  border: none !important;
}

.nofocus:focus {
  outline: none;
}

.pi-search:before {
  color: white;
  font-weight: 800;
  margin-left: 30px;
}

.pi-shopping-cart {
  font-size: 35px;
}

.pi-amazon:before {
  color: white;
  font-size: 45px;
}

i.pi.pi-amazon {
  margin-bottom: 10px;
  font-size: 40px;
}

.form-control {
  border-radius: 10px;
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 15px;
}

.bg-danger {
  font-size: 10px;
  position: fixed;
}

a {
  color: white;
  text-decoration: none;
}

.profile-info a {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.user-info a {
  padding-right: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.user-info a:hover {
  color: rgb(212, 212, 212);
}

.right-side-nav .profile-info {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.right-side-nav .user-info {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.pi-shopping-cart:before {
  padding-left: 20px;
}

.pi-user:before {
  color: white;
  font-size: 25px;
  padding-left: 20px;
}

/* Assuming .nofocus class removes the default button styles */

/* Styles for the shopping cart button */
button.nofocus {
  background: none; /* Set background to none */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  cursor: pointer; /* Set cursor to pointer */
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .my-navbar,
  .left-side-nav,
  .right-side-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-right: 0; /* Adjust padding for smaller screens */
  }

  .title-wrapper {
    font-size: 20px; /* Adjust title font size for smaller screens */
    margin-right: 0; /* Remove right margin for smaller screens */
  }

  .pi-search:before {
    display: none;
  }

  .pi-amazon:before {
    font-size: 30px; /* Adjust Amazon icon size for smaller screens */
  }

  .form-control {
    height: 30px; /* Adjust form control height for smaller screens */
    margin-left: 5px; /* Adjust form control left margin for smaller screens */
    margin-top: 5px;
    padding: 10px; /* Adjust form control padding for smaller screens */
  }

  .right-side-nav .profile-info {
    font-size: 16px; /* Adjust profile info font size for smaller screens */
  }

  .right-side-nav .user-info {
    font-size: 10px; /* Adjust user info font size for smaller screens */
  }

  .user-info a {
    padding-bottom: 10px;
  }

  .pi-shopping-cart {
    font-size: 25px; /* Adjust shopping cart icon size for smaller screens */
    padding-bottom: 10px;
  }

  .pi-user:before {
    font-size: 20px; /* Adjust user icon size for smaller screens */
  }
}
