.container {
  margin: 20px auto;
  max-width: 800px;
  height: 100vh;
}

.card-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-product {
  background-color: rgb(229, 229, 231);
  padding: 20px;
  border-radius: 8px;
  margin-top: 170px;
  width: 1000px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 30px;
  text-align: left;
  border: 1px solid white;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

h6 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-style: italic;
}

img {
  width: 200px;
  height: 200px;
  margin-top: 50px;
  text-align: center;
}

/* Additional styling for responsiveness */
@media screen and (max-width: 600px) {
  .container {
    margin: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .cart-product {
    width: 90%; /* Adjust the width for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .cart-product {
    width: 100%; /* Adjust the width for even smaller screens */
    padding: 15px; /* Adjust padding for smaller screens */
    margin-top: 100px; /* Adjust margin-top for smaller screens */
  }
}
