.card {
  background-image: url("https://www.ssi-schaefer.com/resource/blob/1076888/b5bdadcababc0904a574ea9d675870c3/e-commerce-hero-dam-image-en-31561--data.jpg");
  background-size: cover; /* Ensure the background image covers the entire card */
  background-position: center;
  height: 61vh;
  padding: 25px;
  margin-top: 160px;
  margin-bottom: 53px;
  border: 1px solid rgb(230, 235, 203);
}

.order {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: #04020d;
}

h6 {
  margin-top: 20px;
  text-align: center;
}

.left {
  position: absolute;
  top: 45%;
  left: 32%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  margin-top: 124px;
}

.cart-product {
  background-color: rgb(229, 229, 231);
  min-height: 70vh;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  color: #04020d;
  text-align: center;
}

.cancel-order-button {
  color: black;
  background-color: #d5d5e4;
  width: 130px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #04020d;
}

.cancel-order-button:hover {
  background-color: #b2b2bb;
}

@media screen and (max-width: 768px) {
  .container {
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .order {
    padding-left: 10%;
    font-size: 15px;
  }
}
