<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
<!-- Include the link in the head of your HTML file -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">


<div class="body">
  <div class="header-container">
    <div class="right">
      <h1>{{ 'welcome' | translate }} </h1>
    </div>
  </div>
  <div class="center">{{ 'choose' | translate | uppercase}}</div>
  <div class="body_content">

    <div class="body_subcontent">
      <div class="description">
        {{ 'desc' | translate }}
      </div>
      <div class="body_panel">
        <div class="panel-switcher">

          <button mat-raised-button [routerLink]="['/products', 'electronics']">
            <div class="title">
              {{ 'electronics' | translate }}
            </div>
            <div class="content">
              {{ 'discover' | translate }}
            </div>
          </button>
          <button mat-raised-button [routerLink]="['/products', 'jewelery']">
            <div class="title">
              {{ 'jewelery' | translate }}
            </div>
            <div class="content">
              {{ 'explore' | translate }}
            </div>
          </button>
          <button mat-raised-button [routerLink]="['/products', 'men\'s clothing']">
            <div class="title">
              {{ 'men' | translate }}
            </div>
            <div class="content">
              {{ 'upgrade' | translate }}
            </div>
          </button>
          <button mat-raised-button [routerLink]="['/products', 'women\'s clothing']">
            <div class="title">
              {{ 'women' | translate }}
            </div>
            <div class="content">
              {{ 'chic' | translate }}
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="shop_now">
      <button routerLink="/products" class="cart-button">
        <p class="shop"> {{ 'shop' | translate }}</p>
      </button>
    </div>

  </div>
</div>