<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h5>Navigation</h5>
            <ul>

                <li> <a routerLink="home">Home</a></li>
                <li><a routerLink="products">Shop</a></li>
                <li><a routerLink="about-us">About Us</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h5>Contact Us</h5>
            <p>Email: office&#64;gmail.com</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>

        <div class="footer-section">
            <h5>Follow Us</h5>
            <div class="social-media">
                <a href="#" target="_blank" class="pi pi-facebook"> Facebook</a>
                <a href="#" target="_blank" class="pi pi-instagram"> Instagram</a>
            </div>
        </div>
    </div>
</footer>