// Product Card Style
:host ::ng-deep .p-dropdown {
    width: 14.5rem;
    border-width: 1px 0 1px 0;
    padding: 1rem;
    font-weight: 600;
    margin-top: 11rem;
    margin-right: 6rem;

    .p-dropdown-trigger {
        border: 1px solid grey;
        background-color: rgb(170, 168, 168) !important;
    }

}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    text-align: right;
    height: 5px;
}

.product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
}


.card {
    padding: 30px;
    margin: 40px;

}

div.row {
    margin-top: 16rem;
}


.product-grid-item-content {
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.btn-primary {
    color: #fff;
    background-color: #0c2261;
    border-color: #0c2261;

    &:hover {
        background-color: #2a2b30 !important;
    }
}

h5 {
    margin-top: 25px;
    font-size: 15px;
    font-weight: 600;

    &:hover {
        color: rgb(84, 83, 85) !important;

    }
}

h6,
p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

// Menu Style


.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;

}

.card-top.container-fluid {
    background-color: rgb(240, 236, 236);
    color: #0c2261;
    cursor: pointer;
    height: 70px;
    position: fixed;
    top: 90px;
    width: 100%;
    z-index: 102;


}

.item {
    margin: 0px 15px;
    text-align: center;
}

.pi-chevron-down:before {
    font-size: 12px;
    font-weight: 600;
}

:host::ng-deep {

    .p-paginator-page,
    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-current {
        border: none;
        margin: 10px;
        color: grey;
        margin-top: 11rem;
        margin-bottom: 40px;
    }

}