// Product Card Style
:host ::ng-deep .p-dropdown .p-dropdown-label.p-placeholder {
  color: #04020d;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.product-category {
  font-weight: 600;
  vertical-align: middle;
}

.card {
  padding: 30px;
  margin: 40px;
  border: 1px solid #04020d;
}

div.row {
  background-color: rgb(229, 229, 231);
}

.product-grid-item-content {
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.btn-primary {
  color: white;
  background-color: #04020d;
  border-color: #04020d;
  font-weight: bold;

  &:focus,
  &:active,
  &:focus:not(:focus-visible) {
    outline: none;
    border-color: transparent !important; /* Reset border color to transparent */
    box-shadow: none; /* Remove any box shadow added by default */
  }

  &:hover {
    background-color: #3d3d3d !important;
  }
}

h5 {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;

  &:hover {
    color: rgb(84, 83, 85) !important;
  }
}

h6,
p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
  color: #04020d;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.instruction {
  font-size: 14px;
  border-radius: 4px;
  width: 56%;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  background-color: #fdefd6;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
  padding-top: 30px;
}

.card-top.container-fluid {
  background-color: rgb(229, 229, 231);
  color: rgb(229, 229, 231);
  height: 180px;
  position: fixed;
  top: 100px;
  width: 100%;
  z-index: 102;

  h6 {
    margin-top: 20px;
    font-size: 15px;
    margin-left: 40px;
    font-weight: 600;
  }
}

.item {
  margin: 0px 15px;
  text-align: center;
}

.pi-chevron-down:before {
  font-size: 12px;
  font-weight: 600;
}

:host ::ng-deep .p-dataview-header {
  display: inline-flex;
  margin-left: 18px;
  margin-top: 20px;
  background-color: rgb(229, 229, 231);
  border: none;
}

:host ::ng-deep .p-dataview-emptymessage {
  margin-left: 35px;
}

:host::ng-deep {
  .p-paginator-page,
  .p-paginator-next,
  .p-paginator-last,
  .p-paginator-first,
  .p-paginator-prev {
    border: none;
    margin: 10px;
    color: grey;
    margin-bottom: 40px;
  }
}

:host::ng-deep {
  .p-paginator-bottom {
    background-color: rgb(229, 229, 231);
    border: none;
  }
}

:host ::ng-deep .p-dropdown {
  background-color: rgb(229, 229, 231);
  width: 14.5rem;
  border-width: 1px 0 1px 0;
  border-color: #04020d;
  padding: 0.5rem;
  font-weight: 600;
  margin-top: 15rem;
  margin-right: 9rem;

  .p-dropdown-trigger {
    color: #04020d;
  }

  .p-dropdown-items {
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    background-color: rgb(229, 229, 231);
  }

  .p-dropdown-items-wrapper {
    overflow: auto;
    background-color: rgb(229, 229, 231);
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding: 0.5rem 1rem;
  }

  input.p-element {
    font-size: 15px;
  }

  /* Reset the default blue outline and border color on focus or click */
  &:focus,
  &:active,
  &:hover,
  &:focus:not(:focus-visible) {
    outline: none;
    border-color: #04020d;
    box-shadow: none;
  }

  /* Prevent default blue color on click for Chrome */
  &:focus-visible {
    outline: none;
  }
}

.form-control {
  margin-top: 10px;
  width: 115%;
  margin-left: 30px;
  cursor: pointer;
  color: #04020d;
}

.user-auth {
  /* Set the background image URL */
  background-color: rgb(229, 229, 231);
  background-size: cover; /* Ensures the background image covers the entire element */
  width: 100%; /* Full width */
}
