$userAuthBackground: url("https://img.freepik.com/free-photo/flat-lay-photo-office-desk-with-laptop-copy-space-background_1150-45598.jpg");
$commonFormBackground: url("https://t3.ftcdn.net/jpg/05/86/22/54/240_F_586225463_N85DCX8UpwjYDonAuS0yMSgc2YULK3QD.jpg");

.user-auth {
  background-image: $userAuthBackground;
  display: flex;
  justify-content: center;
  padding-top: 300px;
  height: 100vh;
  background-size: cover;
  width: 100%;
}

.common-form {
  background-image: $commonFormBackground;
  width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Josefin Slab", fantasy;
}

.form-button {
  width: 95%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #def0f0;
  color: #04020d;
  cursor: pointer;
  font-weight: bold;
  font-family: "Josefin Slab", fantasy;
}

.login,
.sign-up {
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  left: 45%;
}

.login h1,
.sign-up h1 {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

.invalid-input {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  font-family: "Josefin Slab", fantasy;
  padding-bottom: 30px;
  color: #04020d;
}

p {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-family: "Josefin Slab", fantasy;
}

// Media query for smaller screens
@media screen and (max-width: 768px) {
  .common-form {
    width: 90%;
    padding: 30px;
    margin-left: 20px;
  }

  .form-button {
    width: 100%;
  }
  .login,
  .sign-up {
    left: 2%;
  }
}

@media screen and (width: 280px) and (height: 653px) {
  h3 {
    padding-bottom: 5px;
    padding-top: 40px;
  }
  .user-auth {
    padding-top: 160px;
  }
  .login,
  .sign-up {
    left: 2%;
  }
}

@media screen and (width: 375px) and (height: 667px) {
  .user-auth {
    padding-top: 160px;
  }
  .login,
  .sign-up {
    left: 2%;
  }
}

@media screen and (width: 768px) and (height: 1024px) {
  .user-auth {
    height: 85vh;
  }
  .login,
  .sign-up {
    left: 15%;
  }
}

@media screen and (width: 912px) and (height: 1368px) {
  .user-auth {
    height: 89vh;
  }
  .login,
  .sign-up {
    left: 25%;
  }
}

@media screen and (width: 820px) and (height: 1180px) {
  .user-auth {
    height: 89vh;
  }
  .login,
  .sign-up {
    left: 20%;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .user-auth {
    padding-top: 170px;
  }
  .login,
  .sign-up {
    left: 30%;
  }
}
