/* Styles for user authentication form */
.user-auth {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  /* background-color: #04020d; */
  height: 83vh;
  background-size: cover;
  width: 100%;
}

.common-form {
  background-image: url("https://t3.ftcdn.net/jpg/05/86/22/54/240_F_586225463_N85DCX8UpwjYDonAuS0yMSgc2YULK3QD.jpg");
  width: 500px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-button {
  width: 95%;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #def0f0;
  color: #04020d;
  cursor: pointer;
  font-weight: bold;
}

/* .form-button:hover {
  background-color: #5c5d5f;
} */

.login,
.sign-up {
  text-align: center;
  margin-bottom: 20px;
}

.login h1,
.sign-up h1 {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

.invalid-input {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

h3 {
  padding-bottom: 30px;
  color: #04020d;
  font-weight: bold;
}

p {
  margin-top: 20px;
  color: white;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .common-form {
    width: 90%;
    padding: 30px;
    margin-left: 20px;
  }

  .form-button {
    width: 100%;
  }
}

@media screen and (width: 280px) and (height: 653px) {
  h3 {
    padding-bottom: 5px;
  }
  .user-auth {
    padding-top: 160px;
  }
}

@media screen and (width: 375px) and (height: 667px) {
  .user-auth {
    padding-top: 160px;
  }
}

@media screen and (width: 768px) and (height: 1024px) {
  .user-auth {
    height: 85vh;
  }
}

@media screen and (width: 912px) and (height: 1368px) {
  .user-auth {
    height: 89vh;
  }
}

@media screen and (width: 820px) and (height: 1180px) {
  .user-auth {
    height: 89vh;
  }
}
