<!-- <div class="user-auth">
    <div *ngIf="showLogin" class="sign-up">
        <h3>User SignUp</h3>
        <form [formGroup]="form" class="common-form" (ngSubmit)="signUp()">
            <input type="text" class="form-input" formControlName="email" placeholder="Enter User Name">
            <input type="text" class="form-input" formControlName="email" placeholder="Enter User Email">
            <input type="password" class="form-input" formControlName="password" placeholder="Enter User Password">
            <button type="submit" class="form-button">Sign Up</button>
            <p>Already Have an Account? <a (click)="openLogin()">Click Here!</a></p>
        </form>
    </div>
    <div *ngIf="!showLogin" class="login">
        <h3>User Login</h3>
        <form [formGroup]="form" class="common-form" (ngSubmit)="login()">
            <input type="text" class="form-input" formControlName="email" placeholder="Enter User Email">
            <input type="password" class="form-input" formControlName="password" placeholder="Enter User Passworddd">
            <button type="submit" class="form-button">Login</button>
            <p>Want to Create an Account? <a (click)="openSignUp()">Click Here!</a></p>
        </form>
    </div>
</div> -->

<div class="user-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h3>User SignUp</h3>
        <form [formGroup]="form" class="common-form" (ngSubmit)="signUp()">
            <input type="text" class="form-input" formControlName="email" placeholder="Enter User Name">
            <input type="text" class="form-input" formControlName="email" placeholder="Enter User Email">
            <input type="password" class="form-input" formControlName="password" placeholder="Enter User Password">
            <button type="submit" class="form-button">Sign Up</button>
            <p>Already Have an Account? <a (click)="openLogin()">Click Here!</a></p>
        </form>
    </div>
    <div *ngIf="showLogin" class="login">
        <h3>User Login</h3>
        <form [formGroup]="form" class="common-form" (ngSubmit)="login()">
            <input type="text" class="form-input" formControlName="email" placeholder="Enter User Email">
            <input type="password" class="form-input" formControlName="password" placeholder="Enter User Password">
            <button type="submit" class="form-button">Login</button>
            <p>Want to Create an Account? <a (click)="openSignUp()">Click Here!</a></p>
        </form>
    </div>
</div>