<div class="body">
  <div class="body_content">
    <div class="body_subcontent">
      <div class="body_panel">
        <div class="panel-switcher">
          <button mat-raised-button>
            <div class="title">
              Electronics
            </div>
            <div class="content">
              Discover cutting-edge electronics that redefine innovation.
            </div>
          </button>
          <button mat-raised-button>
            <div class="title">
              Jewelery
            </div>
            <div class="content">
              Explore exquisite jewelry on our elegant ecommerce platform.
            </div>
          </button>
          <button mat-raised-button>
            <div class="title">
              Men's Clothing
            </div>
            <div class="content">
              Upgrade your style with the latest trends in men's fashion.
            </div>
          </button>
          <button mat-raised-button>
            <div class="title">
              Women's Clothing
            </div>
            <div class="content">
              Discover chic women's clothing for every occasion.
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>