.body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.logo {
  width: 10vw;
  height: 2.8vw;
  margin: 1vw 5vw;
  background-size: 100% 100%;
}
.logo_bar {
  height: 4vw;
  background-color: white;
}

.body_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.body_subcontent {
  display: block;
  margin-top: -6vw;
}
.signin_title {
  font-size: 2.7vw;
  color: white;
  font-weight: bold;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
}
.panel-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1vw;
  padding: 2vw;
  margin-top: 50px;
  button {
    background-image: url("https://www.ssi-schaefer.com/resource/blob/1076888/b5bdadcababc0904a574ea9d675870c3/e-commerce-hero-dam-image-en-31561--data.jpg");
    background-size: cover; /* Ensure the background image covers the entire card */
    color: #fff;
    width: 20vw;
    height: 21vw;
    border-radius: 1vw;
    border: 0.1vw solid #c6c3c3;
    line-height: 2vw;
    & + button {
      margin-left: 1vw;
    }
  }
  button:hover {
    filter: brightness(0.8);
  }
  font-family: sans-serif;
}
.body_panel {
  border-radius: 1vw;
  padding: 1vw;
  width: 68vw;
  background: rgb(229, 229, 231);
  margin-top: 60px;
}

.title {
  color: #080300;
  font-size: 1.8vw;
  font-weight: bold;
  font-family: sans-serif;
  margin: 1vw auto;
  height: 3vw;
  // display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dancing Script", cursive;
}
.content {
  color: #583f3b;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Josefin Slab", fantasy;
  line-height: 1.6vw;
  height: 3vw;
  font-style: italic;
}

.cart-button {
  color: black;
  width: 150px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50px;
  border: 1px solid #04020d;
  background-color: #a6a6aa
}

.cart-button:hover {
  background-color: #909092;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 22vw;
    height: 6.3vw;
    margin-left: 8vw;
  }
  .logo_bar {
    height: 11vw;
    display: flex;
    align-items: center;
  }

  .signin_title {
    font-size: 6.7vw;
    margin-top: -9vw;
    margin-bottom: 9vw;
  }
  .body_subcontent {
    width: 100%;
  }
  .body_panel {
    width: 100%;
  }
  .panel-switcher {
    button {
      width: 47vw;
      height: 58vw;
      & + button {
        margin-left: 2vw;
      }
    }
  }
  .brand_img {
    height: 20.5vw;
    width: 20.5vw;
    margin: 1vw auto;
    margin-top: 2vw;
    padding: 1vw;
  }
  .brand_people {
    width: 15vw;
    height: 11vw;
  }
  .audio_img {
    height: 20.5vw;
    width: 20.5vw;
    margin: 1vw auto;
    padding: 1vw;
  }
  .influencer_audio {
    width: 15vw;
    height: 11vw;
  }
  .title {
    font-size: 4vw;
    height: 15vw;
  }
  .content {
    color: #706f7a;
    font-size: 2.8vw;
    font-family: sans-serif;
    line-height: 4vw;
    height: 7vw;
  }
}
@media screen and (max-width: 375px) {
  .logo {
    width: 28vw;
    height: 8.3vw;
    margin-left: 7vw;
  }
  .logo_bar {
    height: 18vw;
    display: flex;
    align-items: center;
  }

  .signin_title {
    font-size: 7vw;
    margin-top: -9vw;
    margin-bottom: 5vw;
  }
  .body_content {
    padding: 0vw 10vw;
  }

  .body_panel {
    border-radius: 4vw;
  }
  .panel-switcher {
    display: block;
    padding: 5vw;
    button {
      width: 100%;
      height: 58vw;
      border-radius: 4vw;
      & + button {
        margin-top: 4vw;
        margin-left: 0vw;
      }
    }
  }
  .brand_img {
    height: 20.5vw;
    width: 20.5vw;
    margin: 1vw auto;
    margin-top: 2vw;
    padding: 1vw;
  }
  .brand_people {
    width: 15vw;
    height: 11vw;
  }
  .audio_img {
    height: 20.5vw;
    width: 20.5vw;
    margin: 1vw auto;
    padding: 1vw;
  }
  .influencer_audio {
    width: 15vw;
    height: 11vw;
  }
  .title {
    font-size: 5vw;
    height: 12vw;
  }
  .content {
    color: #706f7a;
    font-size: 4.4vw;
    font-family: sans-serif;
    line-height: 6.5vw;
    height: 14vw;
  }
}

.header-container {
  background-image: url("https://newbird.com/app/uploads/2017/09/Blogging-for-eCommerce.jpg");
  background-size: cover; /* Ensure the background image covers the entire card */
  height: 50vh;
  padding: 25px;
  margin-top: 100px;
  height: 60vh; /* Adjust the height as needed */
  margin-bottom: 53px;
  border: 1px solid rgb(230, 235, 203);
}

.footer-container {
  background-image: url("https://dwijitsolutions.com/wp-content/uploads/2016/02/image-video-processing-research-pune-title.jpg");
  background-size: cover; /* Ensure the background image covers the entire card */
  padding: 25px;
  margin-top: 100px;
  height: 55vh; /* Adjust the height as needed */
}

.right {
  position: absolute;
  top: 25%;
  left: 72%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-family: "Josefin Slab", fantasy;
  font-size: 24px;
}

.center {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-family: "Josefin Slab", fantasy;
  font-size: 24px;
  font-weight: bold;
}

.shop {
  color: #141414;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Josefin Slab", fantasy;
  line-height: 1.6vw;
  height: 3vw;
  font-style: italic;
  padding-top: 20px;
  left: 60%;
}

.shop_now {
  position: absolute;
  left: 18%;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}
