<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
<!-- Include the link in the head of your HTML file -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">


<div class="body">
  <div class="header-container">
    <div class="right">
      <h1>W E L C O M E !</h1>
    </div>
  </div>
  <div class="center">CHOOSE THE CATEGORY ...</div>
  <div class="body_content">

    <div class="body_subcontent">
      <div class="description">
        Welcome to our online store, where innovation meets style! Explore our vast collection of cutting-edge
        electronics,
        featuring the latest in technology. Elevate your fashion game with our chic men's and women's clothing lines,
        showcasing the trendiest styles for every occasion.
      </div>
      <div class="body_panel">
        <div class="panel-switcher">

          <button mat-raised-button [routerLink]="['/products', 'electronics']">
            <div class="title">
              Electronics
            </div>
            <div class="content">
              Discover cutting-edge electronics that redefine innovation.
            </div>
          </button>
          <button mat-raised-button [routerLink]="['/products', 'jewelery']">
            <div class="title">
              Jewelery
            </div>
            <div class="content">
              Explore exquisite jewelry on our elegant ecommerce platform.
            </div>
          </button>
          <button mat-raised-button [routerLink]="['/products', 'men\'s clothing']">
            <div class="title">
              Men's Clothing
            </div>
            <div class="content">
              Upgrade your style with the latest trends in men's fashion.
            </div>
          </button>
          <button mat-raised-button [routerLink]="['/products', 'women\'s clothing']">
            <div class="title">
              Women's Clothing
            </div>
            <div class="content">
              Discover chic women's clothing for every occasion.
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="shop_now">
      <button routerLink="/products" class="cart-button">
        <p class="shop">SHOP NOW ...</p>
      </button>
    </div>

  </div>
</div>